html {
    font-family: "Ubuntu", serif;
    font-size: 20px;
}

body {
    margin: auto;
    width: 720px;
    max-width: 80%;
}

section {
    padding: 20px;
}

h2,
h3 {
    color: lightgray;
}

h3 {
    padding-top: 16px;
    font-size: 20px;
}